img {
    height: 5cm;
}
li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-decoration: none; 
}
h1 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: black;
    font-size: 2cm
}
p { 
    font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: black;
}
body {
    background-color: lightblue;
    margin-left: 25%;
    margin-right: 25%;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
    }
ul {
    background-color: lightcyan;
    margin-left: 20%;
    margin-right: 20%;

}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text] {
    width: 100%
}