img {
    height: 5cm;
}
li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-decoration: none; 
}
h1 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: black;
    font-size: 2cm
}
p { 
    font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: black;
}
body {
    background-color: antiquewhite;
    margin-left: 25%;
    margin-right: 25%;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}